{{#if resume.education.length}}
<div class="container education-container">
    {{> title value="Formation"}} {{#each resume.education}}
    <section class="item">
        <!--    {{> section-header name=this.institution }}-->
        <h5>{{institution}}

            {{#if startDate}}
            <span class="small-date pull-right">
                <span class="startDate">{{shortFormatDate startDate}}</span>
                {{#if endDate}}
                <span class="endDate"> - {{shortFormatDate endDate}}</span>
                {{else}}
                <span class="endDate"> - Present</span>
                {{/if}}
            </span>
            {{/if}}

        </h5>
        {{#if location}}
        <h5 class="location">{{location}}</h5>
        {{/if}}

        <p class="studytype code">{{#if area}}{{area}}{{/if}}{{#if studyType}} {{{highlightPlus studyType}}}{{/if}}</p>


        {{#if gpa}}
        <h5>{{gpa}}</h5>
        {{/if}}
        {{#if specialization}}
        <p class="specialization">{{specialization}}</p>
        {{/if}}
        {{#if courses.length}}
        <ul class="two-column">
            {{#each courses}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}