{{#if resume.interests.length}}
    <div class="container interests-container">
        {{> title value="Intérêts"}}

        <ul class="minimal">
            {{#each resume.interests}}
                {{#if name}}
                    <li>{{name}} : 
                        {{#if keywords.length}}
                            {{#each keywords}}
                                {{.}}
                            {{/each}}
                        {{/if}}
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
{{/if}}
