{{#if resume.publications.length}}
    <div class="container publications-container">
        {{> title value="Publications"}}

        {{#each resume.publications}}
            <section class="item">
                {{> section-header name=this.name}}

                {{#if publisher}}
                    {{#if url}}
                        <h5 class="awarder">
                            <a href="{{url}}" target="_blank">
                                {{publisher}} <i class="fa fa-external-link" aria-hidden="true"></i>
                            </a>
                        </h5>
                    {{else}}
                        <h5 class="awarder">{{publisher}}</h5>
                    {{/if}}
                {{/if}}

                {{#if summary}}
                    <p class="summary">{{summary}}</p>
                {{/if}}

            </section>
        {{/each}}
    </div>
{{/if}}
