{{#resume.basics}}
<header class="resume-header clearfix">
    <div class="left-column accent-container">
        {{#if picture}}
        <div class="profile-pic">
            <img src="{{picture}}" alt="profile-pic">
        </div>
        {{/if}}
        <h1>{{name}}</h1>
        <h2>{{label}}</h2>
        {{#if location}}
        {{#location}}
        {{> info-tag text=(formatAddress  address postalCode city region countryCode) icon="location-dot"}}
        {{/location}}
        {{/if}}

        {{#if email}}
        {{> info-tag text=this.email icon="envelope" url=(concat "mailto:" this.email)}}
        {{/if}}

        {{#if phone}}
        {{> info-tag text=this.phone icon="mobile"}}
        {{/if}}

        {{#if website}}
        {{> info-tag text=this.website icon="link" url=this.website}}
        {{/if}}

        {{#if profiles}}
        {{#each profiles}}
        {{> social}}
        {{/each}}
        {{/if}}

        {{> pdf }}

    </div>
</header>
{{/resume.basics}}