{{#resume.basics}}
    {{#if summary}}
        <div class="container summary-container">
            {{> title value=""}}
            <p class="summary bordered">
                {{{summary}}}
            </p>
        </div>
    {{/if}}
    {{#if headline.length}}
        <div class="container headline-container">
            {{> title value="Objectifs"}}
            <ul>
                {{#each headline}}
                    <li>{{.}}</li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
{{/resume.basics}}
