<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, minimal-ui">
    <title>{{#resume.basics}}CV {{name}} {{label}}{{/resume.basics}}</title>
    <meta name="description" content="{{#resume.basics}}{{metadata.description}}{{/resume.basics}}">

        {{> meta}}

    <style>
            {{{css}}}
    </style>
</head>

<body>
<main id="resume" class="page">
    <div class="resume-content">
        <aside class="left-column">
            {{> resume-header }}
            {{> skills }}
            {{> education }}
            {{> languages }}
            {{> interests }}
        </aside>
        <div class="right-column">
            {{> summary }}
            {{> work }}
            {{> volunteer }}
            {{> awards }}
            {{> publications }}
            {{> references }}
            {{> popup }}
        </div>
    </div>
</main>
</body>

</html>
