:root {
  --primary-font: "Open Sans", Helvetica, Arial, sans-serif;
  --secondary-font: "Exo", Helvetica, Arial, sans-serif;
  --accent-color: #8f428b;
  --secondary-color: #632a5f;
  --text-color: #000;
  --text-white: #fff;
  --text-color-muted: #999;
  --text-color-muted-less: #555;
  --text-color-muted-more: #ccc;
  --link-hover-color: #c359be;
  --border-color: #242d35;
  --background-color: #f8f8f8;
  --container-padding: 20px;
}

/* Base */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4g03OwRmPg.ttf)
    format("truetype");
}

@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4lM3OwRmPg.ttf)
    format("truetype");
}

@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4rQwOwRmPg.ttf)
    format("truetype");
}

@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/exo/v20/4UaZrEtFpBI4f1ZSIK9d4LjJ4vowOwRmPg.ttf)
    format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWVAexQ.ttf)
    format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf)
    format("truetype");
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  background: var(--background-color);
  margin: 0;
  letter-spacing: 0.3px;
  color: var(--text-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0;
  margin-bottom: 10px;
  line-height: 28px;
}

h2 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0 0 5px 0;
}

h3.bold {
  font-weight: 700;
}

h4 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
}

h4.bold,
h5.bold {
  font-weight: 700;
}

h5 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 13px;
  color: var(--accent-color);
}

h5 span {
  color: var(--text-color-muted-less);
}

h6 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  color: var(--secondary-color);
}

a:hover {
  color: var(--link-hover-color);
}

a .fa-external-link {
  font-size: 10px;
  vertical-align: text-top;
}

p,
li {
  font-size: 12px;
}

blockquote {
  font-size: 12px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: italic;
  margin: 10px 25px;
}

em {
  color: var(--text-color-muted);
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  list-style: none;
  /* line-height: 1.8; */
}

ul li::before {
  content: "+ ";
  color: var(--text-color-muted);
}

ul.minimal {
  padding: 0;
  content: "";
}

ul.minimal li {
  margin-bottom: 3px;
  padding-left: 0;
}

ul.minimal li::before {
  content: "";
}

ul.two-column {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 20px;
  padding-left: 0;
  column-rule: 1px dashed var(--text-color-muted-more);
}

ul.two-column li {
  padding-left: 0;
}

.title {
  margin-bottom: 0;
}

.accent-text {
  color: var(--accent-color);
}

.container {
  padding-top: 20px;
}

.summary-container {
  padding-top: 0;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.profile-pic {
  margin-top: -5px;
  margin-right: 18px;
}

.profile-pic img {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.summary {
  margin: 5px 0 5px;
}

.code {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 12px;
  color: var(--text-color-muted-less);
}
.code.muted {
  color: var(--text-color-muted-more);
}

/* Layouts */
.page {
  background: var(--text-white);
  width: 1070px;
  min-height: 11in;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.page:after {
  content: "";
  display: table;
  clear: both;
}

.left-column {
  float: left;
  width: 250px;
  margin-right: 10px;
  padding: 20px 10px 10px 20px;
}

.right-column {
  width: auto;
  overflow: hidden;
  padding: 0 20px 20px 20px;
}

.accent-container {
  background-color: var(--border-color);
  color: var(--text-white);
  margin-left: -20px;
  margin-top: -20px;
}

.accent-container a {
  color: var(--text-white);
}
.accent-container a:hover {
  color: var(--link-hover-color);
}

.item {
  margin-bottom: 15px;
}

.item:last-child {
  margin-bottom: 0;
}

/* Components */
.info-tag-container {
  margin-bottom: 5px;
}

.info-tag-container .svg-inline--fa {
  font-size: 14px;
  width: 14px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  color: inherit;
}

.info-tag-container .svg-inline--fa.fa-map-marker {
  font-size: 16px;
}

.info-tag-container .svg-inline--fa.fa-mobile {
  font-size: 18px;
}

.info-tag-container .svg-inline--fa.fa-envelope-o {
  font-size: 12px;
}

.info-tag-container .svg-inline--fa.fa-desktop {
  font-size: 11px;
}

.info-tag-container .svg-inline--fa.fa-external-link {
  width: auto;
  font-size: inherit;
  vertical-align: text-top;
}

.svg-inline--fa.fa-person {
  width: 0.6rem;
  font-size: 0.6rem;
  vertical-align: text-top;
  color: var(--text-color-muted-more);
}

.info-tag-container .info-text {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}

.info-tag-container:last-child {
  margin-bottom: 0;
}

.references-container .svg-inline--fa {
  font-size: 14px;
}

.education-container .location {
  padding-bottom: 6px;
  font-weight: 400;
}

.education-container .specialization,
.education-container .studytype {
  text-transform: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.education-container .studytype span {
  vertical-align: super;
  font-size: 0.6rem;
}
.skills-container span:nth-of-type(2):before {
  content: "(";
}

.skills-container span:nth-of-type(2) {
  color: var(--text-color-muted);
  text-transform: lowercase;
  margin: 0 0 0 5px;
}

.skills-container span:nth-of-type(2):after {
  content: ")";
}

.work-container .date {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 13px;
  color: var(--accent-color);
}

.small-date {
  font-family: var(--primary-font);
  font-size: 10px;
  color: var(--accent-color);
}

.promote-container {
  border: 1px solid var(--text-color-muted-more);
  padding: 10px;
  margin: 15px 0 0 0;
}
.promote-container a {
  font-size: 15px;
}

.summary.bordered {
  padding: 0 0 10px 0;
  border-bottom: 1px solid var(--text-color-muted-more);
  text-align: justify;
}

.headline-container ul li,
p.summary {
  font-size: 14px;
}

/* p.summary:first-child::before {
    content: '+ ';
    color: var(--text-color-muted);
} */

/* Print */
@page {
  size: A4;
}
