<div class='section-header clearfix'>
    {{#if name}}
        <h5 class='bold pull-left'>
            {{#if website}}
                <a href='{{website}}' target='_blank'>
                    {{name}}
                </a>
            {{else}}
                {{name}}
                {{#if position}} <span>- {{position}}</span>{{/if}}
            {{/if}}
        </h5>
    {{/if}}
    <span class='date pull-right'>
        {{#if startDate}}
            {{formatDate startDate}}
            {{#if endDate}}
                -
                {{formatDate endDate}}
            {{else}}
                - Actuellement
            {{/if}}
        {{else if releaseDate}}
            {{formatDate releaseDate}}
        {{/if}}
    </span>
</div>