{{#resume.basics}}
    {{#metadata}}
        {{#each property}}
            {{#if (includes 'og' @key)}}
                <meta property="{{@key}}"" content="{{this}}">
            {{else}}
                <meta name="{{@key}}" content="{{this}}">
            {{/if}}
        {{/each}}
    {{/metadata}}
{{/resume.basics}}