{{#if resume.promote.length}}
<div class="container promote-container">
    {{> title value="Vous voulez en savoir plus ?"}}
    <div class="info-tag-container">
        {{#each resume.promote}}
        <section class="item clearfix">
            <a href="{{this.url}}" target="_blank">
                {{fontawesome-icon icon='link'}}
                {{this.name}}
                {{fontawesome-icon icon='up-right-from-square'}}
            </a>
        </section>
        {{/each}}
    </div>
</div>
{{/if}}