{{#if resume.work.length}}
<div class="container work-container">
    {{> title value="Expériences professionnelle"}}

    {{#each resume.work}}
    <section class="item">
        {{> section-header name=this.company position=position}}

      {{#if people}}
        <span class="code muted pull-right" title="staff technique">{{people}} {{fontawesome-icon icon="person"}}</span>
        {{/if}}

        {{#if summary}}
        <p class="summary code">{{summary}} </p>
        {{/if}}

        {{#if highlights.length}}
        <ul class="two-column">
            {{#each highlights}}
            <li>{{.}}</li>
            {{/each}}
        </ul>
        {{/if}}
    </section>
    {{/each}}
</div>
{{/if}}