<div class='info-tag-container'>
    {{#if icon}}
        {{fontawesome-icon icon=icon}}
    {{/if}}

    {{#if url}}
        <h6 class='info-text'>
            <a href='{{url}}' target='_blank'>
                {{removeProtocol text}}
            </a>
        </h6>
    {{else}}
        <h6 class='info-text'>{{{text}}}</h6>
    {{/if}}
</div>