<div class="info-tag-container">
    {{fontawesome-icon icon='file-pdf'}}
    <h6 class="info-text">
        <a href="/cv/CV_Christophe_Giacomel_Developpeur_Web+.pdf" target="_blank">
            PDF
        </a>
    </h6>
</div>