{{#if network}}
    {{#if username}}
        {{#is (lowercase network) "linkedin"}}
            {{> info-tag text=(concat 'in/' this.username) icon="linkedin-square" }}
        {{else}}
            {{> info-tag text=this.username icon=(lowercase network) }}
        {{/is}}
    {{/if}}
{{/if}}
